<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-3" *ngFor="let club of listClub">
                            <img src="{{club.urlImg}}" alt="Club Image">
                            <div class="formz">
                                <p class="formf fw-900 fs-25">{{ club.name }}</p>
                                <p class="formf fw-600">Vị trí: {{club.positions}}</p>
                                <p class="formf fw-600 mg-title">Ngày nộp đơn: {{club.dateProcedure}}</p>
                                <p class="formf fw-600 mg-title">Ngày phỏng vấn: {{club.dateInterview}}</p>
                                <button class="e-control e-btn" id="targetButton" (click)="onOpenDialog($event)">Nộp đơn</button>
                            </div>
                        </div>
                        <!-- <div class="form-group col-md-3">
                            <img src="assets/img/theme/club.png" alt="Club Image"  class="sha-img">
                            <div class="formz">
                                <p class="formf fw-900 fs-25">Múa</p>
                                <p class="formf fw-600">Vị trí: Ban Tổ chức && ban chuyên môn</p>
                                <p class="formf fw-600 mg-title">Ngày nộp đơn: 30/5 - 3/6</p>
                                <p class="formf fw-600 mg-title">Ngày phỏng vấn: 7/6 - 10/6</p>
                                <button class="e-control e-btn" id="targetButton" (click)="onOpenDialog($event)">Nộp đơn</button>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <img src="assets/img/theme/club.png" alt="Club Image" class="sha-img">
                            <div class="formz">
                                <p class="formf fw-900 fs-25">Chơi đá</p>
                                <p class="formf fw-600">Vị trí: Ban Tổ chức && ban chuyên môn</p>
                                <p class="formf fw-600 mg-title">Ngày nộp đơn: 30/5 - 3/6</p>
                                <p class="formf fw-600 mg-title">Ngày phỏng vấn: 7/6 - 10/6</p>
                                <button class="e-control e-btn" id="targetButton" (click)="onOpenDialog($event)">Nộp đơn</button>
                            </div>
                           
                        </div>
                        <div class="form-group col-md-3">
                            <img src="assets/img/theme/club.png" alt="Club Image" class="sha-img">
                            <div class="formz">
                                <p class="formf fw-900 fs-25">Bay như chim</p>
                                <p class="formf fw-600">Vị trí: Ban Tổ chức && ban chuyên môn</p>
                                <p class="formf fw-600 mg-title">Ngày nộp đơn: 30/5 - 3/6</p>
                                <p class="formf fw-600 mg-title">Ngày phỏng vấn: 7/6 - 10/6</p>
                                <button class="e-control e-btn" id="targetButton" (click)="onOpenDialog($event)">Nộp đơn</button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ejs-dialog #ejDialog [visible]="false" [target]="targetElement" width="500px">
    <ng-template #content>
        <div class="dialog-content">
          <h4>Your Student ID</h4>
          <input id="inVal" class="e-input formf" type="text" placeholder="Enter your ID!" (change)="getaaa($event)"/>
          <h4>Your Name</h4>
          <input id="inVal" class="e-input formf" type="text" placeholder="Enter your Name!"/>
          <h4>Your Email</h4>
          <input id="inVal" class="e-input formf" type="text" placeholder="Enter your Email!"/>
          
        </div>
        <div class="button-container">
          <button id="sendButton1" class="e-control e-btn e-secondary sendButton formf" data-ripple="true" (click)="onsubmit()">Save</button>
          <button style="margin-left: 20px;" id="sendButton2" class="e-control e-btn e-primary sendButton formf" data-ripple="true" (click)="close()">Cancel</button>
        </div>
    </ng-template>
</ejs-dialog>

<ejs-toast #element (created)="onCreate($event)" [position]='position'>
    <ng-template #title>
        <div>{{header}}</div>
    </ng-template>
    <ng-template #content>
        <div>{{titlee}}</div>
    </ng-template>
  </ejs-toast>