<div class="header pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <h1 font-char>To-Dos</h1>
      <div class="row">
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6"></div>
        <div class="col-xl-3 col-lg-6"></div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row"></div>
  <div class="card-body">
    <ejs-grid [dataSource]='datas' [toolbar]="toolbarOptions"
      gridLines="Both"
      [allowSorting]="true"
      [allowPaging]="true"
      height="400px"
      (actionBegin)="actionBegin($event)"
      [editSettings]="editSettings">
        <e-columns>
          <e-column field='status' headerText='Status' width='40px' textAlign='Center'>
            <ng-template #template let-data>
              <input type="checkbox" [checked]="data.Discontinued" disabled> 
            </ng-template>
            <ng-template #editTemplate let-data>
              <input type="checkbox" [checked]="data.Discontinued" 
                     (change)="onChangeStatus($event, data)">
            </ng-template>
          </e-column>
           <e-column field="TaskName" headerText="Task Name" width="150" headerTextAlign="Center" textAlign="Center">
            <ng-template #editTemplate let-data> 
           <ejs-textbox
              [value]="data.taskName"
              floatLabelType='Auto' 
              placeholder="Task Name"
              (change)="onChangeTask($event)">
            </ejs-textbox>
            </ng-template>
          </e-column> 
          
          <e-column field="Due" headerText="Due" format="dd/MM/yyyy" width="150" headerTextAlign="Center" textAlign="Center">
           <ng-template #template let-data>
              {{ data.due | date : "dd/MM/yyyy" }}
            </ng-template> 
            <ng-template #editTemplate let-data>
              <ejs-datepicker format="dd/MM/yyyy" [(ngModel)]="data.due" (change)="onChangeDue($event)">

              </ejs-datepicker>
            </ng-template>
          </e-column>
        </e-columns>
    </ejs-grid>
  </div>
  <div class="row mt-5">
    <div class="col-xl-12 mb-5 mb-xl-0"></div>
  </div>
</div>

<div class="table-responsive"></div>
