.title {
    font-family: 'Inter', 'Sans-serif';
    font-size: 20px;
    font-weight: 900;
    color:black;
}
.title-child {
    font-family: 'Inter', 'Sans-serif';
    font-size: 25px;
    font-weight: 600;
}
.fw-600 {
    font-weight: 600;
}
.formz {
    font-family: 'Inter', 'Sans-serif'; 
}
.fs-20 {
    font-size: 20px;
}