.title {
    font-family: 'Inter', 'Sans-serif';
    font-size: 20px;
    font-weight: 900;
    color:black;
}
.title-child {
    font-family: 'Inter', 'Sans-serif';
    font-size: 25px;
    font-weight: 600;
}
.formz {
    font-family: 'Inter', 'Sans-serif'; 
}
.fs-20 {
    font-size: 20px;
}
.e-ddl.e-input-group.e-control-wrapper .e-input {
    margin-top:4px;
    font-family:'Inter';
}
// .e-input:not(:valid), .e-input:valid, .e-float-input.e-control-wrapper input:not(:valid), .e-float-input.e-control-wrapper input:valid, .e-float-input input:not(:valid), .e-float-input input:valid, .e-input-group input:not(:valid), .e-input-group input:valid, .e-input-group.e-control-wrapper input:not(:valid), .e-input-group.e-control-wrapper input:valid, .e-float-input.e-control-wrapper textarea:not(:valid), .e-float-input.e-control-wrapper textarea:valid, .e-float-input textarea:not(:valid), .e-float-input textarea:valid, .e-input-group.e-control-wrapper textarea:not(:valid), .e-input-group.e-control-wrapper textarea:valid, .e-input-group textarea:not(:valid), .e-input-group textarea:valid {
//     font-size: 30px;
//     height: 40px;
// }
// .e-float-input.e-control-wrapper:not(.e-error) input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper:not(.e-error) input ~ label.e-label-top.e-float-text {
//     color: pink;
//     font-size: 15px;
// }
