<nav class="navbar navbar-vertical navbar-expand-md navbar-light bg-white" id="sidenav-main">
  <div class="container-fluid">
    <!-- Toggler -->
    <!-- <button class="navbar-toggler" type="button" (click)="isCollapsed=!isCollapsed"
       aria-controls="sidenav-collapse-main">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- Brand -->
    <div>
      <a class="navbar-brand pt-0" routerLinkActive="active" [routerLink]="['/dashboard']" style="display: flex; align-items: center;">
        <img src="./assets/img/theme/notion.jpg" class="navbar-brand-img" alt="..." style="max-height: 40px; margin-right: 0px;">
        <p class="wordmark_fill__RZFeq" style="margin: 0; font-family: 'Inter', sans-serif; font-size: 18px; font-weight: 600; color: #333;">NOTION</p>
    </a>
    
</div>
      <!-- <form class="mt-4 mb-3 d-md-none">
        <div class="input-group input-group-rounded input-group-merge">
          <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fa fa-search"></span>
            </div>
          </div>
        </div>
      </form> -->
      <!-- Navigation -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/dashboard']" class="nav-link" (click)="toggleMenuExpansion()">
            <i class="ni" [ngClass]="{'ni-bold-down': isExpanded, 'ni-bold-right': !isExpanded}"></i> Note
            <i class="ni ni-fat-add" style="float: right" id="targetButton" (click)="onOpenDialog($event)"></i>
          </a>
          <!-- <div *ngIf="showTextBox" class="input-group">
            <input type="text" class="form-control" placeholder="Enter text here">
          </div> -->
          <ul *ngIf="isExpanded"> <!-- Nested ul for submenu items -->
            <ng-container *ngFor="let menuItem of menuItems">
              <li class="{{menuItem.class}} nav-item" *ngIf="menuItem.parentid === 2">
                <div class="menu-item-wrapper">
                  <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link" style="display: contents;" (click)="toggleSubMenuExpansions(menuItem)">
                    <span class="icon-wrapper">
                      <i class="ni" [ngClass]="{'ni-bold-down': menuItem.isExpanded, 'ni-bold-right': !menuItem.isExpanded}"></i>
                    </span>
                    <span style="margin-left:5px">
                      <i class="ni {{menuItem.icon}}"></i>
                    </span>
                    <span class="fs-10">{{menuItem.title}}</span>
                  </a>
                  <i class="ni ni-fat-add" (click)="onOpenDialogFile($event)"></i>
                </div>
                <ul *ngIf="menuItem.isExpanded">
                  <ng-container *ngFor="let submenuItem of menuItem.file">
                    <li class="nav-item">
                      <a routerLinkActive="active">
                        <i class="ni ni-collection"></i>
                        {{submenuItem.fileName}}
                      </a>
                    </li>
                  </ng-container>
                </ul>
              </li>
            </ng-container>
          </ul>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/dashboard']" class="nav-link">
            <i class="ni ni-pin-3 text-orange"></i> Accommodation
          </a>
        </li>
        <li class="nav-item">
          <a routerLinkActive="active" [routerLink]="['/dashboard']" class="nav-link">
            <i class="ni ni-single-02 text-yellow"></i> Restaurant
          </a>
        </li>
      </ul>
      
      
      
      <ejs-dialog id='dialog' #ejDialog isModal='true' [visible]="false" (overlayClick)="onOverlayClick" class="formf"
      [target]='targetElement' width='300px'>
      <ng-template #content>
        <div class="dialog-content">
          <h4>Create a New Folder</h4>
          <input id="inVal" class="e-input formf" type="text" placeholder="Enter your folder name!" (change)="onInputTextChange($event)"/>
          
        </div>
        <div class="button-container">
          <button id="sendButton1" class="e-control e-btn e-secondary sendButton formf" data-ripple="true" (click)="save()">Save</button>
          <button id="sendButton2" class="e-control e-btn e-primary sendButton formf" data-ripple="true" (click)="close()">Cancel</button>
        </div>
      </ng-template>
 
</ejs-dialog>

<ejs-dialog id='#ejDialogFile' #ejDialogFile isModal='true' [visible]="false" (overlayClick)="onOverlayClick" class="formf"
[target]='targetElement' width='300px'>
<ng-template #content>
  <div class="dialog-content">
    <h4>Create a New File</h4>
    <input id="inVal" class="e-input formf" type="text" placeholder="Enter your file name!"/>
    
  </div>
  <div class="button-container">
    <button id="sendButton1" class="e-control e-btn e-secondary sendButton formf" data-ripple="true" (click)="saveFile()">Save</button>
    <button id="sendButton2" class="e-control e-btn e-primary sendButton formf" data-ripple="true" (click)="close()">Cancel</button>
  </div>
</ng-template>
<ng-template #footerTemplate>
  <div class="e-section-control">
    <ul style="display: flex;">
   <li><ejs-radiobutton label="Simple Note" name="default"></ejs-radiobutton></li>
   <li><ejs-radiobutton label="To Do List" name="default"></ejs-radiobutton></li>
   </ul>
   </div>
   <div class="e-section-control">
    <ul style="display: flex;">
   <li> <img class="img20" src="assets\background\temp1.jpg"/></li>
   <li> <img class="img20" src="assets\background\temp1.jpg"/></li>
   </ul>
   </div>
  
</ng-template>

</ejs-dialog>

        <!-- <ng-container *ngFor="let menuItem of menuItems">
          <li class="{{menuItem.class}} nav-item" *ngIf="menuItem.parentid === null">
            <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link"
               *ngIf="menuItem.hasSubmenu; else noSubmenu">
              <i class="ni" [ngClass]="{'ni-bold-down': menuItem.isExpanded, 'ni-bold-right': !menuItem.isExpanded}" (click)="toggleMenuExpansion(menuItem)"></i>
              <i class="ni {{menuItem.icon}}"></i>
              {{menuItem.title}}
            </a>
            <ng-template #noSubmenu>
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                <i class="ni {{menuItem.icon}}"></i>
                {{menuItem.title}}
              </a>
            </ng-template>
            <ul *ngIf="menuItem.isExpanded && menuItem.hasSubmenu">
              <ng-container *ngFor="let submenuItem of menuItems">
                <li *ngIf="submenuItem.parentid === menuItem.id" class="nav-item">
                  <a routerLinkActive="active" [routerLink]="[submenuItem.path]" class="nav-link">
                    <i class="ni {{submenuItem.icon}}"></i>
                    {{submenuItem.title}}
                  </a>
                </li>
              </ng-container> 
            </ul>
          </li>
        </ng-container>-->
      
      
      
        
      <!-- Divider -->
      <hr class="my-3">
      <!-- Heading -->
      <!-- <h6 class="navbar-heading text-muted">Documentation</h6> -->
      <!-- Navigation -->
      <!-- <ul class="navbar-nav mb-md-3">
        <li class="nav-item">
          <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/tutorial">
            <i class="ni ni-spaceship"></i> Getting started
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/colors">
            <i class="ni ni-palette"></i> Foundation
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://demos.creative-tim.com/argon-dashboard-angular/documentation/alerts">
            <i class="ni ni-ui-04"></i> Components
          </a>
        </li>
      </ul> -->
    </div>
  <!-- </div> -->
</nav>
