<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <h1>PRN221</h1>
                            <p>PRN231 là môn học cơ bản về lập trình C# (C-Sharp), một ngôn ngữ lập trình hướng đối tượng mạnh mẽ và linh hoạt, được phát triển bởi Microsoft. Môn học này nhằm cung cấp cho sinh viên những kiến thức nền tảng và kỹ năng cần thiết để bắt đầu phát triển phần mềm bằng ngôn ngữ C#.</p>
                        </div>
                        <div class="form-group col-md-6">
                            <ejs-grid [dataSource]='data' height='315px' [toolbar]="toolbarOptions"
                                      gridLines="Both"
                                      [allowSorting]="true"
                                      [allowPaging]="true"
                                      [editSettings]="editSettings">
                                <e-columns>
                                    <e-column field='ProductID' headerText='PT1' width='150' textAlign='Center'>
                                        
                                    </e-column>
                                    <e-column field='CategoryName' headerText='PT2' width=150 textAlign='Center'></e-column>
                                    <e-column field='ProductName' headerText='FE' width=150 textAlign='Center'></e-column>
                                </e-columns>
                            </ejs-grid>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <h1>Trước kỳ học</h1>
                            <p>Hiểu Biết Về Lập Trình và C#:

                                Đảm bảo bạn đã có kiến thức cơ bản về lập trình và cấu trúc dữ liệu. Hiểu về ngôn ngữ lập trình khác nhau cũng sẽ giúp bạn dễ dàng tiếp cận C#.
                                Nếu bạn chưa biết gì về C#, hãy tìm hiểu trước về lịch sử, tính năng, và ứng dụng của nó.
                                Chuẩn Bị Tinh Thần Tốt:

                                Lập trình có thể gặp khó khăn đôi khi, nhưng đừng sợ thử thách. Hãy luôn giữ tinh thần mở và sẵn sàng học hỏi từ mỗi sai lầm.
                                Nhớ rằng, việc chuẩn bị tốt trước khi bắt đầu môn học sẽ giúp bạn tiếp cận và tiêu hóa thông tin một cách dễ dàng và hiệu quả hơn. Chúc bạn may mắn và thành công trong hành trình học tập của mình!
                                </p>
                        </div>
                        <div class="form-group col-md-6">
                            <h1>Trong quá trình học</h1>
                            <p>
                                Tuần 1:
                                
                                Hiểu về lịch sử và tính năng của C#.
                                Cài đặt môi trường phát triển (Visual Studio).
                                Học về cú pháp cơ bản của C#: biến, hằng số, kiểu dữ liệu, toán tử.
                            </p>
                            <p>
                                Tuần 2:
                                
                                Tiếp tục học về cú pháp cơ bản của C#: cấu trúc điều khiển (if, switch), vòng lặp (for, while).
                                Thực hành viết các chương trình đơn giản sử dụng kiến thức đã học.
                            </p>
                            <p>
                                Tuần 3:
                                
                                Hiểu về lập trình hướng đối tượng (OOP): lớp, đối tượng, phương thức, thuộc tính.
                                Tìm hiểu về kế thừa và đa hình trong OOP.
                            </p>
                            <p>
                                Tuần 4:
                                
                                Học về trừu tượng hóa và giao diện (interface).
                                Thực hành viết các chương trình đơn giản sử dụng lập trình hướng đối tượng.
                            </p>
                            <p>
                                Tuần 5:
                                
                                Nắm vững cách xử lý ngoại lệ và quản lý lỗi trong C#.
                                Thực hành viết các mã an toàn và đáng tin cậy.
                            </p>
                            <p>
                                Tuần 6:
                                
                                Học về cấu trúc dữ liệu cơ bản: mảng, danh sách, từ điển, tập hợp.
                                Thực hành sử dụng LINQ để thao tác dữ liệu.
                            </p>
                            <p>
                                Tuần 7:
                                
                                Giới thiệu về Windows Forms hoặc WPF.
                                Tạo giao diện người dùng đơn giản và xử lý sự kiện.
                            </p>
                            <p>
                                Tuần 8:
                                
                                Thực hành viết ứng dụng giao diện người dùng đơn giản với các tính năng cơ bản.
                            </p>
                            <p>
                                Tuần 9:
                                
                                Học về kết nối cơ sở dữ liệu bằng ADO.NET hoặc Entity Framework.
                                Thực hành thao tác dữ liệu với cơ sở dữ liệu.
                                
                            </p>
                            <p> Tuần 10:
                                Ôn tập kiến thức đã học và chuẩn bị cho bài kiểm tra cuối kỳ.
                                Hoàn thiện và nộp các dự án cuối kỳ nếu có.
                                Ghi Chú:
                                Cố gắng dành thời gian học mỗi ngày để giữ hiệu quả học tập.
                                Luôn thực hành bằng cách viết mã và giải quyết các bài tập thực hành.
                                Đừng ngần ngại hỏi thầy cô hoặc các bạn cùng học nếu bạn gặp khó khăn trong quá trình học.</p>
                        </div>
                        </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h1 style="text-align: center">Tài liệu học tập</h1>
                        <div>
                            <ejs-grid [dataSource]='data1' height='315px'
                            gridLines="Both"
                            [allowSorting]="true"
                            [allowPaging]="true"
                            [editSettings]="editSettings">
                      <e-columns>
                        
                          <e-column field='Title' headerText='Mô tả tài liệu học tập' width=150 headerTextAlign='Center'></e-column>
                          <e-column field='DocumentName' headerText='Tài liệu' width=150 headerTextAlign='Center'></e-column>
                      </e-columns>
                  </ejs-grid>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-6"></div>
                <div class="col-xl-3 col-lg-6"></div>
                <div class="col-xl-3 col-lg-6"></div>
                <div class="col-xl-3 col-lg-6"></div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt--7">
    <div class="row"></div>
</div>

<div class="table-responsive"></div>
