.note-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
  font-family: 'Arial', sans-serif;
}

.quill-editor {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 600px; /* Further increased height */
  margin-bottom: 30px;
  padding: 15px;
}

button {
  display: block;
  width: 20%;
  padding: 10px 0;
  font-size: 20px;
  background-color: #e7803b; /* Primary color */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 50px auto 0 auto; /* Center the button and add top margin */
}

button:hover {
  background-color: #cf6f32; /* Darker shade for hover */
  transform: scale(1.05);
}

button:active {
  background-color: #b55f29; /* Even darker shade for active */
}

.wide-quill-editor {
  width: 100%;
  display: block;
  height: 350px;
}

//
